<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="100" /></center>

**<center><h3>Data Manipulation with Pandas Assignment Problem</h3></center>**

In [ ]:
import numpy as np
import pandas as pd

---
**<h4>Question 1:** Create a function that converts the each letter of first word in a series to uppercase.</h4>

- For example, you passed the series in left column and return the values as shown in right column:

|Original Series|Transformed Series
|:--|:--|
|how|How|
|to|To|
|learn|Learn|
|data science?|Data science?|

<details>

**<summary>Hint:</summary>**

- You can achieve this question in many ways.

- One way is to perform mapping over the series and using the capitalize functionality of python.

</details>

In [1]:
def upperSeries(series=None):
  # Put your code here...

In [ ]:
upperSeries(series=pd.Series(['how', 'to', 'learn', 'data science?']))

---
**<h4>Question 2:** Create a function that takes dictionary as input and returns the rows of dataframe containing null data.</h4>

- For example, you passed the dictionary and dataframe looks like as shown below:

|#|Animal|Age|Visits|Priority|
|:--|:--|:--|:--|:--|
|01|dog|NaN|3|yes|
|02|dog|5|2|no|
|03|cat|2|3|no|
|04|snake|4|1|no|
|05|cat|NaN|1|yes|

- The output data will be as shown below:

|#|Animal|Age|Visits|Priority|
|:--|:--|:--|:--|:--|
|01|dog|NaN|3|yes|
|05|cat|NaN|1|yes|

<details>

**<summary>Hint:</summary>**

- Pass the dictionary containing data to the function.

- Create a dataframe using the pandas DataFrame functionality.

- Filter the data rows containing null data using isnull() and any() method.

- You can also try out some condition inside the dataframe index brackets.

- Return the filtered data back.

</details>

In [ ]:
def showNanRows(data_dict=None):
  # Put your code here...

In [ ]:
data_dict = {'Animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
             'Age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
             'Visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'Priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

showNanRows(data_dict=data_dict)

---
**<h4>Question 3:** Create a function that takes dictionary as input and returns the dataframe of grouped mean of a certain column.</h4>

- For example, you passed the dictionary and dataframe looks like as shown below:

|#|Animal|Age|Visits|Priority|
|:--|:--|:--|:--|:--|
|01|dog|NaN|3|yes|
|02|dog|5|2|no|
|03|cat|2|3|no|
|04|snake|4|1|no|
|05|cat|NaN|1|yes|

- The output data that has been grouped by Animal of mean Age will be as shown below:

|#|Animal|Age|
|:--|:--|:--|
|01|cat|2|
|02|dog|5|
|03|snake|4|

<details>

**<summary>Hint:</summary>**

- Pass the dictionary containing data to the function.

- Create a dataframe using the pandas DataFrame functionality.

- Groupby data using pandas package according to the specified groupbycol value.

- Extract columns only specified in returncollist parameter.

- Return the output data.

</details>

In [ ]:
def showGroupByMean(data_dict=None, groupbycol=None, returncollist=None):
  # Put your code here...

In [ ]:
data_dict = {'Animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
             'Age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
             'Visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'Priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

showGroupByMean(data_dict=data_dict, groupbycol='Animal', returncollist=['Age'])

---
**<h4>Question 4:** Create a function that returns the indexes of the dataframe if values matched at a certain index.</h4>

- **Note:** You can create two columns with random values or labels within a certain range.

- For example, you initialized dataframe columns with random values as shown below:

|#|Fruit 1|Fruit 2|
|:--|:--|:--|
|01|Banana|Orange|
|02|Apple|Orange|
|03|Apple|Apple|
|04|Orange|Orange|
|05|Banana|Apple|

- The returned output will be `[3, 4]`.

<details>

**<summary>Hint:</summary>**

- Pass a list of items that will be used to create a dataframe of specified data rows.

- To achieve this objective you can use numpy's random choice functionality.

- Next, you can use numpy's where() method to extract out the indexes of data rows containing same values.

- Return the extracted indexes.

</details>

In [ ]:
def checkIndex(itemlist=None, datasize=None):
  # Put your code here...

In [ ]:
checkIndex(itemlist=['apple', 'orange', 'banana'], datasize=10)

---
**<h4>Question 5:** Create a function that returns the indexes of the series if values present are multiple of a certain value.</h4>

- For example, you created a random series of integer as shown below:

|#|Series|
|:--:|:--:|
|01|8|
|02|9|
|03|8|
|04|1|
|05|8|

- The value to be checked as the multiple of values present in the series is `4`.

- The returned output will be `[1, 3, 5]`.

<details>

**<summary>Hint:</summary>**

- Pass a list of items that will be used to create a dataframe of specified data rows.

- To achieve this objective you can use numpy's random choice functionality.

- Next, you can use numpy's where() method to extract out the indexes of data rows containing same values.

- Return the extracted indexes.

</details>

In [ ]:
def checkMultiple(multiple=None, randstart=None, randstop=None, totalrecords=None):
  # Put your code here...

In [ ]:
checkMultiple(multiple=4, randstart=1, randstop=10, totalrecords=10)

---
**<h4>Question 6:** Create a function that takes two series and stacks them in either horizontal way or vertical way.</h4>

- For example you entered following two series:

|Series 1|
|:--:|
|0|
|1|
|2|
|3|
|4|
|5|

|Series 2|
|:--:|
|I|
|N|
|S|
|A|
|I|
|D|

- The returned output will be as shown below if the option selected is horizontal:

|Series 1|Series 2|
|:--:|:--:|
|0|I|
|1|N|
|2|S|
|3|A|
|4|I|
|5|D|


<details>

**<summary>Hint:</summary>**

- Use conditional opertaion to check the passed option of stacking the list.

- If the option is horizontal, then perform concatenation of series along axis 1.

- If the option is verticle, then perform appending of series.

- Return the final result.

</details>

In [ ]:
def stackSeries(series1=None, series2=None, stack='verticle'):
  # Put your code here...

In [ ]:
s1 = pd.Series(range(6))
s2 = pd.Series(list('INSAID'))

stackSeries(series1=s1, series2=s2, stack='horizontal')

---
**<h4>Question 7:** Create a function that performs min-max scaling over the numerical columns of the data.</h4>

- **Dataset link:** 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

- For example, you have a column where values are `[4.9, 4.7, 4.6, 5.0, 5.4]`.

- After performing min-max scaling the values will become `[0.22, 0.16, 0.11, 0.08, 0.19]`.

<details>

**<summary>Hint:</summary>**

- Read the data from the specified link and provide columns names if not present already.

- You can use pandas read_csv functionality and its constituent parameters.

- Extract and append numerical column names out of the dataset using control flow & string operations.

- Again start a new control flow operation and extract minimum and maximum value of each column.

- Use apply() method and lambda operation over each column to perform min-max scaling.

- The formula of min-max scaling is: $\large\frac {value - min}{max - min}$

- One way is to perform mapping over the series and using the capitalize functionality of python.

</details>

In [ ]:
def minMaxScaling(link=None, datacolnames=None):
  # Put your code here...

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class']

minMaxScaling(link=url, datacolnames=names)

---
**<h4>Question 8:** Create a function that returns the index positions of the missing data value and its total in a specific column.</h4>

- **Dataset link:** 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

- For example, you have a column where values are `[4.9, 4.7, 4.6, 5.0, 5.4]`.

- After performing min-max scaling the values will become `[0.22, 0.16, 0.11, 0.08, 0.19]`.
  
<details>

**<summary>Hint:</summary>**

- Read the data from the specified link and provide columns names if not present already.

- You can use pandas read_csv functionality and its constituent parameters.

- Calculate total missing values in a specified column using pandas isnull() and sum() method.

- Similarly, you can use numpy's where() method in addtion to the isnull() method to get the index positions of missing data.

</details>

In [ ]:
def showMissingIndex(link=None, datacolnames=None, checkcol=None):
  # Put your code here...

In [ ]:
url = 'https://raw.githubusercontent.com/insaid2018/Domain_Case_Studies/master/Healthcare/Heart%20Disease%20Diagnosis/Data/heart_disease.csv'

showMissingIndex(link=url, checkcol='cholesterol')

---
**<h4>Question 9:** Create a function that replace missing values with the mean value of the column, if present.</h4>

- For example, you have a following dataset:

|#|age|sex|chest_pain_type|resting_blood_pressure|cholesterol|fasting_blood_sugar|rest_ecg|target|
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|01|63|1|asymptomatic	|145|233.0|1|1|1|
|02|37|0|non-anginal pain|140|245.0|0|1|0|
|03|41|1|typical anginia	|135|NaN|1|1|0|
|04|48|0|asymptomatic	|110|274|0|0|0|
|05|66|1|non-anginal pain|130|288|1|1|1|

- The cholesterol column contains one missing value and mean of this column is `262.25`.

- The final dataframe will look something like as follows:

|#|age|sex|chest_pain_type|resting_blood_pressure|cholesterol|fasting_blood_sugar|rest_ecg|target|
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|01|63|1|asymptomatic	|145|233.0|1|1|1|
|02|37|0|non-anginal pain|140|245.0|0|1|0|
|03|41|1|typical anginia	|135|262.25|1|1|0|
|04|48|0|asymptomatic	|110|274|0|0|0|
|05|66|1|non-anginal pain|130|288|1|1|1|

<details>

**<summary>Hint:</summary>**

- Read the data from the specified link and provide column names if not present already.

- You can use pandas read_csv functionality and its constituent parameters.

- Check if the data column contains missing data using pandas isnull() and any() method.

- If column contains missing data then replace the missing data cell using .replace() method.

- After replacing the missing data values in the column again check if there exists missing data.

- If no missing data in the column then return the final data.

</details>

In [ ]:
def replaceMissingMean(link=url, datacolnames=None, colname=None):
  # Put your code here...

In [ ]:
url = 'https://raw.githubusercontent.com/insaid2018/Domain_Case_Studies/master/Healthcare/Heart%20Disease%20Diagnosis/Data/heart_disease.csv'

replaceMissingMean(link=url, datacolnames=None, colname='cholesterol')

---
**<h4>Question 10:** Create a function that generates random numbers ranging from Date A to Date B.</h4>

- For example, you passed `start_date = "2016-01-01"` and `end_date = "2016-12-31"`.

- The frequency used will be `freq = "B"` Here "B" refers to the business day frequency.

- The output data will be as shown below:

|Date|Value|
|:--:|:--:|
|2016-01-01|0.095|
|2016-01-02|0.340|
|2016-01-03|0.253|
|2016-01-04|0.254|
|2016-01-05|0.243|
||...|
|2016-12-30|0.664|
|2016-12-31|0.343|

<details>

**<summary>Hint:</summary>**

- Take help from pandas date_range functionality.

- Set all the parameters according to the function requirement.

- Generate data of length equal to the date length.

- Create a pandas series out of the random data and date and return it.

</details>

In [ ]:
def randDateData(start_date=None, end_date=None, freq=None):
  # Put your code here...

In [ ]:
randDateData(start_date='2016-01-01', end_date='2016-12-31', freq="B")

---
**<h4>Question 11:** Create a function that performs one hot encoding over the data column.</h4>

- For example, you passed the dictionary or read the data and dataframe looks like as shown below:

|#|Animal|Age|Visits|Priority|
|:--:|:--:|:--:|:--:|:--:|
|01|dog|NaN|3|yes|
|02|dog|5|2|no|
|03|cat|2|3|no|
|04|snake|4|1|no|
|05|cat|NaN|1|yes|

- You column selected for one hot encoding is Animal.

- The returned data will look like as follow:

|#|Age|Visits|Priority|Animal_cat|Animal_dog|Animal_snake|
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|01|NaN|3|yes|0|1|0|
|02|5|2|no|0|1|0|
|03|2|3|no|1|0|0|
|04|4|1|no|0|0|1|
|05|NaN|1|yes|1|0|0|

<details>

**<summary>Hint:</summary>**

- There are many ways to accomplish this question.

- Either you can use a library or use pandas functionality of get_dummies() method.

- You can also add a condition in the function to identify the type of data and take actions accordingly.

- To know more about the one hot encoding click <a href="https://machinelearningmastery.com/why-one-hot-encode-data-in-machine-learning/">**here**</a>.

</details>

In [ ]:
def oneHotEncode(data=None, cols=None):
  # Put your code here...

In [ ]:
data_dict = {'Animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
             'Age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3], 
             'Visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'Priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

oneHotEncode(data=data_dict, cols=['Animal'])

---
**<h4>Question 12:** Create a function that removes duplicates (if present) and subtract the filtered data with the mean of the column.</h4>

- For example you have the following data:

|Column data|
|:--:|
|1|
|2|
|2|
|3|
|4|
|5|
|5|
|5|
|6|
|7|

- The filtered data will be:

|Column data|
|:--:|
|1|
|2|
|3|
|4|
|5|
|6|
|7|

- Let's say the mean of the column is "4", then the final series will be:

|Column data|
|:--:|
|-3|
|-2|
|-1|
|0|
|1|
|2|
|3|


<details>

**<summary>Hint:</summary>**

- Check if the passed data is a dataframe or not.

- If dataframe, then drop the duplicates using the drop_duplicates() functionality of pandas.

- Then subtract the output with the mean of the column and return it.

- If the type of data is dictionary, then typecast it to the pandas dataframe first.

- Drop the duplicates using the drop_duplicates() functionality of pandas.

- Then subtract the output with the mean of the column and return it.

</details>

In [ ]:
def filterData(data=None, names=None):
  # Put your code here...

In [ ]:
data = {'Column data': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]}
filterData(data=data, names=None)

---
**<h4>Question 13:** Create a function that performs dataframe merging over the specified column name.</h4>

- For example,

<center><img src="https://pandas.pydata.org/pandas-docs/stable/_images/merging_merge_on_key_multiple.png"></center>

<details>

**<summary>Hint:</summary>**

- Check if the passed data are of type DataFrame.

- If yes, then merge data 1 and data 2 over the specified column name.

- To achive the merging, you can use pandas's merge() functionality.

- Next, if the data is of type dictionary, then typecast the data to DataFrame.

- Then merge data 1 and data 2 over the specified column name using merge() method.

</details>

In [ ]:
def dataframeMerge(data1=None, data2=None, key=None):
  # Put your code here...

In [ ]:
d1 = pd.DataFrame({"key1": ["K0", "K0", "K1", "K2"], "key2": ["K0", "K1", "K0", "K1"],
                     "A": ["A0", "A1", "A2", "A3"], "B": ["B0", "B1", "B2", "B3"],
                     })

d2 = pd.DataFrame({"key1": ["K0", "K1", "K1", "K2"], "key2": ["K0", "K0", "K0", "K0"],
                   "C": ["C0", "C1", "C2", "C3"], "D": ["D0", "D1", "D2", "D3"],
                   })

dataframeMerge(data1=d1, data2=d2, key=["key1", "key2"])

---
**<h4>Question 14:** Create a function that returns all rows of a DataFrame containing a given substring.</h4>

- For example, you passed 9 random values such as:
  -  `[0.83086063, 0.00536904, 0.58981977, 0.76704028, 0.55501003, 0.91354796, 0.57879962, 0.76508311, 0.66402454]`.

- The value returned will be:
    - `|0.83086063 0.00536904 0.58981977|`
    - `|0.76704028 0.55501003 0.91354796|`
    - `|0.57879962 0.76508311 0.66402454|`

<details>

**<summary>Hint:</summary>**

- Check if the type of data passed is of type DataFrame or not.

- If yes, then return the dataframe with filtered values containing substring in a specific column.

- You can use .str() along with the contains() method to filter out the data.

- If data is of type dictionary, then typecast it to DataFrame first.

- Then filter dataframe rows containing substring in a specific column.

</details>

In [ ]:
def filterOnSubstring(data=None, colname=None, substring=None):
  # Put your code here...

In [ ]:
data = pd.DataFrame({'Name': ['Mukesh', 'Mohit', 'Hemanka', 'Abhigyan', 'Ashish'], 
                   'Team': ['Research', 'Research', 'Research', 'Research', 'Research'], 
                   'Position': ['Senior', 'Senior', 'Junior', 'Junior', 'Junior'], 
                   'Age': [24, 25, 23, 24, 24], 
                   'College': ['DAV University', np.nan, np.nan, np.nan, 'Lovely University'], 
                   'Salary': [30000, 30000, 50000, 10000, 10000]})

filterOnSubstring(data=data, colname='Position', substring='Junior')

---
**<h4>Question 15:** Create a function that replaces values in a pandas dataframe using a regex.</h4>

- **Note:** If you don't know what is regular expression or regex, then click <a href="https://www.w3schools.com/python/python_regex.asp#:~:text=A%20RegEx%2C%20or%20Regular%20Expression,contains%20the%20specified%20search%20pattern.">**here**</a> to get more information.

- For example, you passed the dataframe that looks like as shown below:

|#|City|Event|Cost|
|:--:|:--:|:--:|:--:|
|01|New York|Music|10000|
|02|Parague|Poetry|5000|
|03|New Delhi|Theatre|15000|
|04|Venice|Comedy|2000|
|05|New Orleans|Tech Summit|12000|

- The output data will be as shown below:

|#|City|Event|Cost|
|:--:|:--:|:--:|:--:|
|01|New_York|Music|10000|
|02|Parague|Poetry|5000|
|03|New_Delhi|Theatre|15000|
|04|Venice|Comedy|2000|
|05|New_Orleans|Tech Summit|12000|

<details>

**<summary>Hint:</summary>**

- Check if the data passed is of type DataFrame or not.

- If yes, then replace the dataframe values with the specified parameters.

- The regex value will be specified in "to_replace" and the "value" to be replaced with.

- You can use .replace() functionality to accomplish this tasks.

- Next, if the type of data is not of type DataFrame, then typecast it to a DataFrame first.

- Then return the data with replaced value using .replace() method by specifying the regex.

</details>

---
**<h4>Question 16:** Create a function that stacks or unstack the data present in a dataframe.</h4>

- For example, you passed the dataframe that looks like as shown below:

|#|City|Event|Cost|
|:--:|:--:|:--:|:--:|
|0|New York|Music|10000|
|1|Parague|Poetry|5000|
|2|New Delhi|Theatre|15000|
|3|Venice|Comedy|2000|
|4|New Orleans|Tech Summit|12000|

- The condition passed is "stack" and the output data will be returned as shown below:

|#|Feature|Value|
|:--:|:--:|:--:|
|0|City|New York|
|0|Event|Music|
|0|Cost|10000|
|1|City|Parague|
|1|Event|Poetry|
|1|Cost|5000|
|2|City|New Delhi|
|2|Event|Theatre|
|2|Cost|15000|
|3|City|Venice|
|3|Event|Comedy|
|3|Cost|2000|
|4|City|New Orleans|
|4|Event|Tech Summit|
|4|Cost|12000|

<details>

**<summary>Hint:</summary>**

- Check if the data passed is of type DataFrame or not.

- If yes, then check if the passed condition is "unstack".

- If yes, then return the unstacked version of data using .unstack() method.

- Else return the stacked version of data using .stack() method.

- Next, if the data is not of type DataFrame, then typecast the passed data to a DataFrame.

- Check if the passed condition is "unstack".

- If yes, then return the unstacked version of data using .unstack() method.

- Else return the stacked version of data using .stack() method.

</details>

In [ ]:
def stackOrUnstack(data=None, condition=None):
  # Put your code here...

In [ ]:
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'], 
                   'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech Summit'], 
                   'Cost':[10000, 5000, 15000, 2000, 12000]})

stackOrUnstack(data=df, condition='stack')

---
**<h4>Question 17:** Create a function that returns a list of pandas dataframe.</h4>

- For example, you passed the dataframe that looks like as shown below:

|#|City|Event|Cost|
|:--:|:--:|:--:|:--:|
|0|New York|Music|10000|
|1|Parague|Poetry|5000|
|2|New Delhi|Theatre|15000|
|3|Venice|Comedy|2000|
|4|New Orleans|Tech Summit|12000|

- The returned output will be as shown below:

<center>[['New York', 'Music', 10000],</center>
<center>['Parague', 'Poetry', 5000],</center>
<center>['New Delhi', 'Theatre', 15000],</center>
<center>['Venice', 'Comedy', 2000],</center>
<center>['new Orleans', 'Tech Summit', 12000]]</center>

<details>

**<summary>Hint:</summary>**

- Check if the data passed is of type DataFrame or not.

- If yes, then iterate over the rows using .iterrows() functionality of pandas.

- Using conditional looping extract the index and rows of dataframe.

- Next, you need to use list comprehension to extract each value of a record to a list and return it back.

- If the passed data is of type other than DataFrame, then typecast it to a dataframe first.

- Initialize an empty list and, then iterate over the rows using .iterrows() functionality of pandas.

- Using conditional looping extract the index and rows of dataframe.

- Next, use a list comprehension to extract each value of a record to a list and append it to the initialized list.

- Return the appended list and display the output.

</details>

In [ ]:
def listFromDataFrame(data=None):
  # Put your code here...

In [ ]:
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'], 
                   'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech Summit'], 
                   'Cost':[10000, 5000, 15000, 2000, 12000]})

listFromDataFrame(data=df)