<center><img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="25%" /></center>

# <center><b>Python Basics<b></center>

---
# **Table of Contents**
---

**1.** [**Introduction**](#Section1)<br>

**2.** [**Keywords**](#Section2)<br>

**3.** [**Identifiers**](#Section3)<br>

**4.** [**Variables and Data Types**](#Section4)<br>
  - **4.1** [**Variables**](#Section41)
  - **4.2** [**Data Types**](#Section42)

**5.** [**Python Input/Output Functions**](#Section5)<br>
  - **5.1** [**Python Output**](#Section51)<br>
  - **5.2** [**Python Input**](#Section51)<br>

**6.** [**Operators**](#Section6)<br>
  - **6.1** [**Arithmetic Operators**](#Section61)<br>
  - **6.2** [**Comparison Operators**](#Section62)<br>
  - **6.3** [**Logical Operators**](#Section63)<br>
  - **6.4** [**Assignment Operators**](#Section64)<br>
  - **6.5** [**Special Operators**](#Section65)<br>

---
<a name = Section1></a>
# **1. Introduction**
---

- **Python** is a powerful **general-purpose** programming language. 

- It is used in **web development**, **data science**, **creating software prototypes**, and so on.

- **Python** has simple **easy-to-use** syntax.

---
<a name = Section2></a>
# **2. Keywords**
---

- **Keywords** are **reserved** words that have **specific** meaning and cannot be used as **ordinary** variables.

- They must be **spelled** exactly as they are **written**.
<br>
<table width='100%'>
<tr><th>and</tc><th>del</tc><th>from</tc><th>not</tc><th>while</tc></tr>
<tr><th>as</tc><th> elif</tc><th>global</tc><th>or</tc><th> with</tc></tr>
<tr><th>assert</tc><th>else</tc><th>if</tc><th> pass</tc><th>yield</tc></tr>
<tr><th>break</tc><th> except</tc><th>import</tc><th>print</tc></tr>
<tr><th>class</tc><th> exec</tc><th>in</tc><th> raise</tc></tr>
<tr><th>continue</tc><th>finally</tc><th> is</tc><th> return </tc></tr>
<tr><th>def</tc><th>for</tc><th>lambda</tc><th>try</tc></tr>
</table>

In [ ]:
## printing hello world

print('Gaurav is very sincere')

In [ ]:
!python --version

In [ ]:
# Keywords of Python 3.7.10

import keyword
print(keyword.kwlist)
print('The no. of keywords in python is {}'.format(len(keyword.kwlist)))

---
<a name = Section3></a>
# **3. Identifiers**
---

- An **identifier** is a **user-defined** name to represent a variable, a function, a class, a module, or any other object.

- It helps to **differentiate** one **entity** from **another**.

- **Rules** for naming identifiers are â€“

  - They are combination of letters in **lowercase** (a to z) or **uppercase** (A to Z) or **digits** (0 to 9) or an **underscore** ('_').

  - An **identifier** cannot start with a **digit**. 

  - **Keywords** cannot be used as **identifiers**.

  -  We cannot use **special characters** like !, @, #, $, % etc. in our identifier.

In [ ]:
12random = 10

SyntaxError: ignored

In [ ]:
srikath_ab = 10      
print(srikath_ab)

10

In [ ]:
def = 1

In [ ]:
_hello = 20

In [ ]:
hello = 1
print('hello: ',hello)

hello123 = 1
print('hello123: ',hello123)

hello_1 = 1
print('hello_1: ',hello_1)

hello:  1
hello123:  1
hello_1:  1

---
<a name = Section4></a>
# **4. Variables and Data Types**
---

#### **4.1 Variables**

 - A **variable** is an **alias** given to a location in **memory** that is used to **store** some **data** (value).

- Each data point stored in the **memory** is given **unique** name to **differentiate** between different **memory** locations (and thus data points).

##### **4.1.1 Variable assignments**

- We use the **assignment operator (=)** to assign values to a variable

In [ ]:
intergerNumber = 4
decimalNumber = 22.2
stringVariable = 12.2
print(intergerNumber, decimalNumber, stringVariable)

type(stringVariable)

4 22.2 12.2

float

##### **4.1.2 Multiple assignments**

- Use comma to seperate the variables and their corresponding values

In [ ]:
intergerNumber, decimalNumber, stringVariable = 4, 22.2, "StringValue"
print("intergerNumber, decimalNumber, stringVariable")

intergerNumber, decimalNumber, stringVariable

- To **initialize** multiple variables with **same** value use 1 assignment

In [ ]:
variable1=variable2=variable3 = 10
print(variable1,variable2,variable3)

##### **4.1.3 Storage Locations**

In [ ]:
a = 9
b = 9

In [ ]:
id(a)               #print address of variable: 'intergerNumber'

94690832280320

In [ ]:
id(b)               #print address of variable: 'decimalNumber'

94690832280320

### **4.2 Data Types**

- Every value in **Python** has a datatype.

- There are various **data types** in Python. Some of the **important** types are listed below.

<center><img width="60%" src="https://raw.githubusercontent.com/insaid2018/Term-2/master/Data%20types.png"></center>

#### **4.2.1 Python Numbers**

- **Integers**, **floating point** numbers and **complex** numbers falls under **Python numbers** category. 

- They are defined as **int**, **float** and **complex** class in Python.


We can use the <b>type()</b> function to know which class a variable or a value belongs to <br/> and the <b>isinstance()</b> function to check if an object belongs to a particular class.

In [ ]:
data1 = 12                               # integer data type
print(data1, " is of type", type(data1))

12  is of type <class 'int'>

In [ ]:
data2 = 12.4588                            # float data type
print(data2, " is of type", type(data2))

12.4588  is of type <class 'float'>

In [ ]:
data3 = 100+5j                       #data type is changed to complex number
print(type(data3))

<class 'complex'>

#### **4.2.2 Boolean**

- **Boolean** represents **True** or **False** values

In [ ]:
booleanVariable = False                          # 'booleanVariable' is a boolean type & True is a keyword
print(type(booleanVariable))

<class 'bool'>

#### **4.2.3 Python Strings**

- **String** is sequence of Unicode characters. We can use single quotes or double quotes to represent strings. 

- **Multi-line** strings can be denoted using triple quotes(single/double)

- A **string** in Python consists of a series or sequence of characters - letters, numbers, and special characters.

- **Strings** can be **indexed** - often synonymously called subscripted as well.

- The first **character** of a string has the index **0**.

In [ ]:
stringVariable = "Sudhir"
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  Sudhir
First character in stringVariable is :  S

In [ ]:
print(stringVariable[::-1])

rihduS

In [ ]:
# Slicing of String variable
print(stringVariable[0:6])
print(stringVariable[:7])
print(stringVariable[5:7])

---
<a name = Section5></a>
# **5. Python Input/Output Functions**
---

#### **5.1. Python Output**

- To see the output on the screen(standard output device), use the <b>print()</b> function

In [ ]:
print("Hello World")

In [ ]:
my_int = 400
print("The value of myInt is", my_int)

#### **5.2 Python Input**

- User inputs can be taken in Python by using the **input() function**.

In [ ]:
user_input = input("Enter your age: ")
print("Your age is: ",user_input)

Enter your age: 45
Your age is:  45

---
<a name = Section6></a>
# **6. Operators**
---



- **Operators** are special symbols in Python that carry out **mathematical or logical computation.**
- The **value** that the operator operates on is called the **operand.**
- Consider the expression 4 + 5 = 9. Here, **4 and 5** are called **operands** and **+** is called **operator**.

**Types of Operators -**

- Arithmetic operators

- Comparison (Relational) operators

- Logical (Boolean) operators

- Bitwise operators (This part can be skipped as it is not necessary for data science learning.)

- Assignment operators

- Special operators

#### **6.1 Arithmetic Operators**

- Arithmetic operators are used to perform mathematical operations like **addition, subtraction, multiplication** etc.


```
+, -,*, /, %, //, ** are arithmetic operators
```

**Example -**

In [ ]:
var1, var2 = 5,3
sum = var1 + var2
print(sum)

8

In [ ]:
var1, var2 = 5.6, 2

print("Sum" ,(var1 + var2))  # Addition(+)

print("Difference", (var1 - var2))  # Subtraction(-)

print("Product", (var1 * var2))  # Multiplication(*)

print("Quotient", (var1 / var2))  # Division(/)

print("Remainder", (var1 % var2))  # Modulo division (%)

print("Floor Division", (var1 // var2)) # Floor Division (//)

print(var1 ** var2) # Exponent (**)

Sum 7.6
Difference 3.5999999999999996
Product 11.2
Quotient 2.8
Remainder 1.5999999999999996
Floor Division 2.0
31.359999999999996

#### **6.2 Comparison Operator**

- Comparison operators are used to **compare values**. It either **returns True or False** according to the condition.


    >, <, ==, !=, >=, <= are comparision operators

**Example -**

In [ ]:
var1, var2 = 10, 2         

print(var1 < var2)   # Check if var1 is less than var2

print(var1 > var2)   # Check if var1 is greater than var2

print(var1 == var2)  # Check if var1 is equal to var2

print(var1 != var2)  # Check if var1 is not equal to var2 

print(var1 >= var2)  # Check if var1 greater than or equal to var2

print(var1 <= var2)  # Check if var1 less than or equal to var2

False
True
False
True
True
False

#### **6.3 Logical Operators**

- Logical operators are **and, or, not** operators.

**Example -**

In [ ]:
var1, var2 = True, False

**AND operation**

| Input 1 | Input 2 | Output |
| :------------- | :----------: | -----------: |
| 0 | 0 | 0 |
| 0 | 1 | 0 |
| 1 | 0 | 0 |
| 1 | 1 | 1 |

In [ ]:
# Print var1 and var2
print(var1 and var2)

False

**OR operation**

| Input 1 | Input 2 | Output |
| :------------- | :----------: | -----------: |
| 0 | 0 | 0 |
| 0 | 1 | 1 |
| 1 | 0 | 1 |
| 1 | 1 | 1 |

In [ ]:
# Print var1 or var2
print(var1 or var2)

**NOT operation**

| Input | Output |
| :------------- | :----------: | 
| 0 | 1 |
| 1 | 0 |

In [ ]:
# Print not var2
print(not var2)

#### **6.4 Assignment Operators**

- Assignment operators are used in Python to **assign values to variables**.

- **age = 50** is a simple assignment operator that assigns the value 50 on the right to the variable (age) a on the left.



```
=,  +=,  -=,  *=,  /=,  %=,  //=,  **=, &=,  ^=,  >>=,  <<= are Assignment operators
```

**Example -**

In [ ]:
a = 4
a+=4
a

8

In [ ]:
a = 4
a = a+4
a

8

In [ ]:
age = 4
age1= 5

In [ ]:
age+=4
print(age1)
age

In [ ]:
age = 4

age += 4        # Add AND  <- age = age + 4
print(age)

age -= 7        # Subtract AND (-=)
print(age)

age *= 4        # Multiply AND (*=)
print(age)

age /= 4        # Divide AND (/=)
print(age)

age %= 20       # Modulus AND (%=)
print(age)

age //= 4       # Floor Division (//=)
print(age)

age **= 4       # Exponent AND (**=)
print(age)